.offert-title {
	@include title;
}

.offers {
	font-family: "David Libre", serif;
	letter-spacing: 1.4px;
	&__cards {
		display: flex;
		justify-content: center;
		flex-direction: column;

		@media screen and (min-width: 1024px) {
			flex-wrap: nowrap;
			min-height: 100vh;
			flex-direction: row;
		}

		&__two {
			align-self: center;
			margin: 2rem 0;

			@media screen and (min-width: 1024px) {
				margin: 0;
			}
		}

		&__three {
			align-self: flex-end;
		}

		img {
			filter: grayscale(100%);
			cursor: pointer;
			transition: all 0.5s ease-in-out;

			&:hover {
				outline: 2px solid white;
				outline-offset: -20px;
				filter: grayscale(0);
			}
		}
	}
}

.text {
	position: absolute;
	bottom: 20%;
	right: 2.2rem;
	font-size: 3.4rem;

	@media screen and (min-width: 425px) {
		font-size: 3rem;
	}

	@media screen and (min-width: 768px) {
		font-size: 4.4rem;
	}
}

.position {
	width: 100%;
	position: relative;

	@media screen and (min-width: 425px) {
		width: 50%;
		margin: 0 auto;
	}

	@media screen and( min-width: 1024px) {
		width: 80%;
	}
}
